$color-1 : #CCE0FF;
$color-2 :  rgba(153, 194, 255, 0.30);;
$color-3 : #04044E;
$color-4 : rgba(166, 103, 202, 0.20);
$color-5 : #99C2FF;
$gray : #A0A0A0;
$background-color : #020222;
$red-color : #DA5C5C;
$transition : all ease-in-out .3s;